format = """
$directory\
$git_branch\
$git_status\
$fill\
$lua\
$python\
$nodejs\
$aws\
$docker_context\
$jobs\
$cmd_duration\
$line_break\
$character"""

[cmd_duration]
min_time = 500
style = 'fg:gray'
format = '[$duration]($style)'
